{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Editar Empresa{% endblock%}
{% block 'head' %}
    <link href="{% static 'empresa/css/nova_empresa.css' %}" rel="stylesheet"> 

    <!-- Validar CEP -->
    <script src="{% static 'empresa/js/valida_cep.js' %}" defer></script>
    <!-- Validar CNPJ -->
    <script src="{% static 'empresa/js/valida_cpnj.js' %}" defer></script>
    <!-- Imagem Logo -->
    <script src="{% static 'empresa/js/img.js' %}" defer></script>
    
    

{% endblock %}
{% block 'body' %}

    
    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h3 class="titulo">Editar empresa</h3>
            </div>

            {% if messages %}
                {% for message in messages %}
                <br>
                    <section class=" alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %} 

            <div class="body-box">
                <form action="{% url 'editar_empresa' empresa.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <h4>Informações Básicas</h4>
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                              <label class="mr-2">Logo:</label>
                              {% if empresa.logo %}
                                <img src="{{ empresa.logo.url }}" alt="{{ empresa.nome }}" width="100" class="img-fluid">
                              {% endif %}
                              <label for="img" class="ml-2"><i class='bx bxs-cloud-upload bx-md'></i></label>
                              <input id="img" type="file" class="form-control d-none" name="logo" onchange="mostrarNomeArquivo()">
                              <span id="nome-arquivo"></span>
                            </div>
                            <div class="col-md-8">
                              <label>Nome Fantasia:</label>
                              <input id="input" type="text" class="form-control" name="nome" value="{{ empresa.nome }}" placeholder="Digite Nome Fantasia...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label>CNPJ:</label>
                                <input id="cnpj" type="text" class="form-control input-cnpj" name="cnpj" value="{{ empresa.cnpj }}" placeholder="000.000.000/0000-00"  maxlength="18">
                            </div>
                            <div class="col-md-7">
                                <label>E-mail:</label>
                                <input id="input" type="email" class="form-control" name="email" value="{{ empresa.email }}" placeholder="email@gmail.com">
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-md">
                                <label>Informações da Empresa:</label>
                                <textarea id="cnpf" name="caracteristicas" class="form-control" >{{empresa.caracteristica_empresa}}</textarea>
                            </div>
                        </div>     
                    </div>
                                        
                                    
                    <div class="form-group">
                        <h4>Endereço</h4>    
                            <div class="row">
        
                                <div class="col-md-2">
                                    <label for="cep">CEP:</label>
                                    <input type="text"class="form-control"  id="cep" name="cep" value="{{ empresa.cep }}" placeholder="0000000"  maxlength="9" oninput="preencherEndereco()">
                                </div>
                                <div class="col-md-8">
                                    <label>Rua:</label>
                                    <input id="logradouro" type="text" class="form-control" name="logradouro" value="{{empresa.logradouro}}">
                                </div>
                                <div class="col-md-2">
                                    <label for="numero">Nº:</label>
                                    <input type="text" class="form-control" id="numero" name="numero" value="{{ empresa.numero }}">
                                </div>
                            </div>
                            <div class="row">
        
                                 <div class="col-md-3">
                                    <label for="bairro">Bairro:</label>
                                    <input type="text" class="form-control" id="bairro" name="bairro" value="{{ empresa.bairro }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="cidade">Cidade:</label>
                                    <input type="text" class="form-control" id="cidade" name="cidade" value="{{ empresa.cidade }}">
                                </div>
                                    <div class="col-md-3">
                                        <label for="estado">UF:</label>
                                           <select class="form-select" id="estado" name="estado" >
                                                  <option value="AC" {% if empresa.estado == 'AC' %}selected{% endif %}>Acre</option>
                                                  <option value="AL" {% if empresa.estado == 'AL' %}selected{% endif %}>Alagoas</option>
                                                  <option value="AP" {% if empresa.estado == 'AP' %}selected{% endif %}>Amapá</option>
                                                  <option value="AM" {% if empresa.estado == 'AM' %}selected{% endif %}>Amazonas</option>
                                                  <option value="BA" {% if empresa.estado == 'BA' %}selected{% endif %}>Bahia</option>
                                                  <option value="CE" {% if empresa.estado == 'CE' %}selected{% endif %}>Ceará</option>
                                                  <option value="DF" {% if empresa.estado == 'DF' %}selected{% endif %}>Distrito Federal</option>
                                                  <option value="ES" {% if empresa.estado == 'ES' %}selected{% endif %}>Espírito Santo</option>
                                                  <option value="GO" {% if empresa.estado == 'GO' %}selected{% endif %}>Goiás</option>
                                                  <option value="MA" {% if empresa.estado == 'MA' %}selected{% endif %}>Maranhão</option>
                                                  <option value="MT" {% if empresa.estado == 'MT' %}selected{% endif %}>Mato Grosso</option>
                                                  <option value="MS" {% if empresa.estado == 'MS' %}selected{% endif %}>Mato Grosso do Sul</option>
                                                  <option value="MG" {% if empresa.estado == 'MG' %}selected{% endif %}>Minas Gerais</option>
                                                  <option value="PA" {% if empresa.estado == 'PA' %}selected{% endif %}>Pará</option>
                                                  <option value="PB" {% if empresa.estado == 'PB' %}selected{% endif %}>Paraíba</option>
                                                  <option value="PR" {% if empresa.estado == 'PR' %}selected{% endif %}>Paraná</option>
                                                  <option value="PE" {% if empresa.estado == 'PE' %}selected{% endif %}>Pernambuco</option>
                                                  <option value="PI" {% if empresa.estado == 'PI' %}selected{% endif %}>Piauí</option>
                                                  <option value="RJ" {% if empresa.estado == 'RJ' %}selected{% endif %}>Rio de Janeiro</option>
                                                  <option value="RN" {% if empresa.estado == 'RN' %}selected{% endif %}>Rio Grande do Norte</option>
                                                  <option value="RS" {% if empresa.estado == 'RS' %}selected{% endif %}>Rio Grande do Sul</option>
                                                  <option value="RO" {% if empresa.estado == 'RO' %}selected{% endif %}>Rondônia</option>
                                                  <option value="RR" {% if empresa.estado == 'RR' %}selected{% endif %}>Roraima</option>
                                                  <option value="SC" {% if empresa.estado == 'SC' %}selected{% endif %}>Santa Catarina</option>
                                                  <option value="SP" {% if empresa.estado == 'SP' %}selected{% endif %}>São Paulo</option>
                                                  <option value="SE" {% if empresa.estado == 'SE' %}selected{% endif %}>Sergipe</option>
                                                  <option value="TO" {% if empresa.estado == 'TO' %}selected{% endif %}>Tocantins</option>
                                          </select>
                                      </div>
          
                                  </div>
        
                                  <div class="form-group">               
                                
                                    <h4>Requisitos</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profissões:</label>
                                            <select class="form-select" id="id_profissao" name="profissoes" multiple>
                                                {% for profissao in prof %}
                                                    <option value="{{ profissao.id }}" data-img-src="{{ profissao.logo_profissao.url }}"
                                                        {% if profissao in empresa.profissao_empresa.all %} selected {% endif %}>
                                                        {{ profissao.profissao }}
                                                    </option>
                                                {% endfor %}                                      
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Tecnologias:</label>
                                            <select id="id_tecnologias" class="form-select" name="tecnologias" multiple>                                
                                                {% for tech in techs %}
                                                <option value="{{ tech.id }}" data-img-src="{{ tech.logo_tecn.url }}"
                                                    {% if tech in empresa.tecnologias.all %} selected {% endif %}>
                                                    {{ tech.tecnologia }}
                                                </option>  
                                                {% endfor %}                       
                                            </select>
                                        </div>
                                    </div>
        
                                </div>        
                                <br>
                                <input type="submit" value="Salvar Alteração" class="btn btn-lg btn-orange">
                            </form>
            
                        </div>
                    </div>
                </div>
        </div>
    </div>
        
    

{% endblock %}