{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'empresa/css/empresa.css' %}" rel="stylesheet">
{% endblock%}


{% block 'body' %}

    
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br>
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}    
        <div class="row">
            <div class="col-md-3">
                <img width="100%" src="{{empresa.logo.url}}">
            </div>

            <div class="col-md">
                <h1 class="titulo">{{empresa.nome}}</h1>
                <h3 class="paragrafo">Enderenço:</h3>
                <p class="endere">{{empresa.logradouro}}, {{empresa.numero}}, {{empresa.cidade}} - {{empresa.estado}}</p>
                
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-lg btn-orange">Criar vaga</a>
            </div>
            
        </div>
        
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label>Sob a Empresa:</label>
                <textarea disabled class="form-control">{{empresa.caracteristica_empresa}}</textarea>
            </div>

            <div class="col-md-3">
                
                
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>Profissionais:</label><br>
                {% for profissao in empresa.profissao_empresa.all %}
                    {% if forloop.counter <= 4 %}
                        <img src="{{ profissao.logo_profissao.url }}" alt="{{ profissao.profissao }}" title="{{ profissao.profissao }}" width="50" height="50">
                        
                    {% elif forloop.counter == 5 %}
                        <br>
                        <img src="{{ profissao.logo_profissao.url }}" alt="{{ profissao.profissao }}" title="{{ profissao.profissao }}" width="50" height="50">
                    {% else %}
                        <img src="{{ profissao.logo_profissao.url }}" alt="{{ profissao.profissao }}" title="{{ profissao.profissao }}" width="50" height="50" style="display:none;">
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6">
                <label>Tecnologias:</label><br>
                {% for tech in empresa.tecnologias.all %}
                    {% if forloop.counter <= 4 %}
                        <img src="{{ tech.logo_tecn.url }}" alt="{{ tech.tecnologia }}" title="{{ tech.tecnologia }}" width="50" height="50">
                    {% elif forloop.counter == 5 %}
                        <br>
                        <img src="{{ tech.logo_tecn.url }}" alt="{{ tech.tecnologia }}" title="{{ tech.tecnologia }}" width="50" height="50">
                    {% else %}
                        <img src="{{ tech.logo_tecn.url }}" alt="{{ tech.tecnologia }}" title="{{ tech.tecnologia }}" width="50" height="50" style="display:none;">
                    {% endif %}
                {% endfor %}
                <!-- <select class="form-select">
                    {% for tech in empresa.tecnologias.all %}   
                       <option>{{tech}}</option>
                    {% endfor %}
                </select> -->
                
            </div>
            
        </div>        

        <hr><h3>VAGAS</h3>

        

        <div class="row">
            {% for vaga in vagas %}
                <div class="col-md">

                    <div class="box-vagas">
                        <div class="header-vagas">
                            <a href="{% url 'vaga' vaga.id %}"{{vaga.titulo}}</a>
                        </div>

                        <div class="body-vagas">
                            <div class="row">
                                <div class="col-md">
                                    <label class="paragrafo">Nível:</label>
                                    <br>        
                                    <label class="paragrafo paragrafo-orange">{{vaga.get_nivel_experiencia_display}}</label>                           
                                </div>

                                <div class="col-md">
                                    <label class="paragrafo">Status <img src="{% static 'empresa/img/flag_green.png' %}"></label>
                                    <br>        
                                    <label class="paragrafo paragrafo-orange">{{vaga.get_status_display}}</label>                           
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            {% endfor %}
        </div>

    </div>
    <br>
    <br>

    <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-size: 30px" class="modal-title titulo" id="exampleModalLabel">Nova vaga</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'nova_vaga' %}" method="POST"> {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Empresa:</label>
                            <input disabled type="text" class="form-control" value="{{empresa.nome}}">
                            
                        </div>

                        <div class="col-md-6">
                            <label>E-mail:</label>
                            <input type="email" name="email" class="form-control" placeholder="empresa@rh.com.br">
                            
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Profissao:</label>
                            <select  name="profissao" class="form-select">
                                {% for prof in empresa.profissao_empresa.all %}   
                                    <option>{{prof}}</option>
                                {% endfor %}
                                <!-- #Traz todos -->
                                <!-- {% for tech in tecnologias %} -->
                                  <!-- #  <option value="{{tech.id}}">{{tech}}</option> -->
                                <!-- {% endfor %} -->

                            </select>
                        </div>

                        <div class="col-md">
                            <label>Tecnologias:</label>
                            <select id="id_tecnologias"  name="tecnologia" class="form-select" multiple>
                                {% for tech in empresa.tecnologias.all %}   
                                <option value="{{ tech.id }}" data-img-src="{{ tech.logo_tecn.url }}"
                                    {% if tech in empresa.tecnologias.all %} selected {% endif %}>
                                    {{ tech.tecnologia }}
                                </option>
                                {% endfor %}

                            </select>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label>Nível de experiência:</label>
                            <select name="experiencia" class="form-select">
                                <option value="TE">Trainee/Estagiário</option>
                                <option value="J">Júnior</option>
                                <option value="P">Pleno</option>
                                <option value="S">Sênior</option>
                                <option value="E">Especialista</option>
                                <option value="L">Líder/Gerente</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Salário:</label>
                            <div class="input-group">
                                <span class="input-group-text">R$</span>
                                <input type="number" class="form-control" name="salario" pattern="[0-9]*" inputmode="numeric"> 
                            </div>
                        </div>
                    </div>
                        <br>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <label>Tipo de Trabalho:</label>
                                <select name="tipo_trabalho" class="form-select">
                                    <option value="P">Presencial</option>
                                    <option value="H">Híbrido</option>
                                    <option value="R">Remoto</option>                                
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Contratação:</label><br>
                                    <input name="contratacao" type="radio" value="CLT" id="M"><label for="CLT" align="right"  style="padding-right: 10px; font-family: 'Marko One', serif; font-weight: bold;"> CLT</label>
                                    <input name="contratacao" type="radio" value="PJ" id="F"><label for="PJ" align="right" style="font-family: 'Marko One', serif; font-weight: bold;"> PJ</label>                                  
                                </select>
                            </div>
                            
                        </div>

                        
                        
                    
                    <br>
                    

                    
                    <div class="row">
                        <div class="col-md-6">
                            <label>Data Inicial:</label>
                            <input type="date" class="form-control" name="data_inicial"> 
                            
                        </div>

                        <div class="col-md-6">
                            <label>Data final:</label>
                            <input type="date" class="form-control" name="data_final"> 
                            
                        </div>
                        <!-- <div class="col-md">
                            <label>Status:</label>
                            <select name="status" class="form-select">     
                                <option value="I">Interesse</option>
                                <option value="C">Currículo enviado</option>    
                                <option value="E">Entrevista</option>    
                                <option value="D">Desafio técnico</option>    
                                <option value="F">Finalizado</option>          
                            </select>
                        </div> -->
       
                    </div>
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-lg btn-orange">
                </div>
                </form>
            </div>
           
            </div>
        </div>
    </div>

{% endblock %}