.titulo{

    color: #7D2948;
    font-weight: bold;

}

.paragrafo{
    /* font-size: 25px; */
    font-family: 'Marko One', serif; 
    font-weight: bold;
}
.endere{
    font-size: 25px;
    font-family: 'serif'; 
    font-weight: bold;

}

.btn-orange{

    background-color: #a95b37;
    color: rgb(255, 255, 255);
}

label{
    font-weight: bold;
}

.box-vagas{

    width: 400px;
    margin-top: 60px;
    background-color: #EDE6E6;
}

.header-vagas{
    background-color: #7D2948;
    padding: 15px;
    color: white
}

.body-vagas{
    padding: 15px;
}

.paragrafo-orange{
    color: #ED8554;
}